[mysqld]
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
user = mysql
log_error = /var/log/mysqld.log
symbolic-links = 0
innodb_file_per_table = 1
innodb_read_io_threads = 64
innodb_write_io_threads = 32
innodb_thread_concurrency = 0
innodb_log_file_size = 30000M
innodb_io_capacity = 100000
innodb_log_buffer_size = 64M
innodb_buffer_pool_size = 32G
innodb_buffer_pool_instances = 12
default_authentication_plugin = mysql_native_password
default_password_lifetime = 0
innodb_page_size = 16384

[mysqld_safe]
log_error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid

[mysqld_multi]
mysqld = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin

[mysqld@4]
user = mysql
datadir = /mnt/p4510-sql
pid-file = /mnt/p4510-sql/hostname.pid
socket = /mnt/p4510-sql/mysql.sock
port = 3310
symbolic-links = 0
innodb_file_per_table = 1
innodb_read_io_threads = 64
innodb_write_io_threads = 32
innodb_thread_concurrency = 0
innodb_log_file_size = 30000M
innodb_io_capacity = 100000
innodb_log_buffer_size = 64M
innodb_buffer_pool_size = 10G
innodb_buffer_pool_instances = 12
default_authentication_plugin = mysql_native_password
default_password_lifetime = 0
innodb_flush_method = O_DIRECT
max_connections = 3000
innodb_page_size = 16384

[mysqld@5]
user = mysql
datadir = /mnt/p4510-sql-real
pid-file = /mnt/p4510-sql-real/hostname.pid
socket = /mnt/p4510-sql-real/mysql.sock
port = 3311
symbolic-links = 0
innodb_file_per_table = 1
innodb_read_io_threads = 64
innodb_write_io_threads = 32
innodb_thread_concurrency = 0
innodb_log_file_size = 30000M
innodb_io_capacity = 100000
innodb_log_buffer_size = 64M
innodb_buffer_pool_size = 10G
innodb_buffer_pool_instances = 12
default_authentication_plugin = mysql_native_password
default_password_lifetime = 0
innodb_flush_method = O_DIRECT
max_connections = 3000
innodb_page_size = 16384

