[sysbench]
THREAD_NUM_LIST=128
STATS_CYCLE=5
DB_NAME=sbtest
PWD=intel123
WORK_LOAD=/usr/share/sysbench/oltp_read_write.lua
TABLE_NUM=10
ROWS=1000000
#DYNAMIC_BUFFER_POOL_SIZE=True
#BUFFER_CHANGE_STEP=0.05
#EXTRA_MEM_LIST=10,20

# read,write,randread,randwrite,randrw
[fio_global]
rwList=randrw
runtime=180

[read]
numjobs=1
iodepth=8
bs=128k

[write]
numjobs=1,4
iodepth=8
bs=64k,128k

[randwrite]
numjobs=8
iodepth=8
bs=4k,8k

[randread]
numjobs=8
iodepth=8,16,32
bs=4k,8k

[randrw]
numjobs=8
iodepth=8,32
bs=4k,8k
rwmixread=70
random_distribution=zipf:1.2
bssplit=4k/18:128k/27:512k/,4k/:512k/19:1m/21:2m/26:4m/26