[sysbench]
#THREAD_NUM_LIST=100,128
#STATS_CYCLE=5 
#DB_NAME=sbtest
#PWD=intel123
#DYNAMIC_BUFFER_POOL_SIZE=True
#BUFFER_CHANGE_STEP=0.05
#WORK_LOAD=/usr/share/sysbench/oltp_read_write.lua
#EXTRA_MEM_LIST=10
