[sysbench]
THREAD_NUM_LIST=100
STATS_CYCLE=5 
DB_NAME=sbtest
PWD=intel123
DYNAMIC_BUFFER_POOL_SIZE=True
WORK_LOAD=/usr/share/sysbench/oltp_read_write.lua

#If you want to try multiple threads
#THREAD_NUM_LIST=100,128
#DYNAMIC_BUFFER_POOL_SIZE=False
